<html>
<head>
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav class="navbar">
		<h1>Welcome to your workplace, <%=user.username%></h1>
	</nav>
	<li><a href="/auth/logout" class="button">Logout </a></li>
	<li><a href="/auth" class="button">Homepage </a></li>
	<li><a href="/profile" class="button">Profile</a></li>
	<p>
		
		<img src="<%=user.thumbnail%>">
	</p>
</body>
</html>